.carbon-ads {
    display: none;
}

.sub-sidebar {
    min-width: 15rem !important;
    font-size: 13px !important;
}

.sub-sidebar li {
    overflow: hidden;
    white-space: nowrap !important;
}

.footer-wrapper span:first-child {
    display: none;
}
