// 广告栏
.carbon-ads {
    display: none !important;
}

// 子侧边栏
.sub-sidebar {
    min-width: 15rem !important;
    font-size: 13px !important;
}

// 子侧边栏
.sub-sidebar li {
    overflow: hidden;
    white-space: nowrap !important;
}

// 网站公告
@media screen and (max-width: 1221px) {
  .bulletin-wrapper {
    display: none !important;
  }
}

// 摘要内容
.custom-block.danger {
    color: #f22d6d !important;
    border-color: #f26d6d !important;
    background-color: #fde5e5 !important;
}

// 摘要内容
.custom-block.warning {
    color: #746000 !important;
    border-color: #ffc310 !important;
    background-color: #fffae3 !important;
}

// 摘要内容
.custom-block.warning .title {
    color: #ffc310 !important;
}
